.Rproj.user/
.Ruserdata
.Rbuildignore
.Rapp.history
.Rhistory
.RData
*-Ex.R
itsdm.Rproj
.idea/
.DS_Store
*/.DS_Store
wc2.1
inst/doc
docs
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
CRAN-SUBMISSION
